
<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Logout" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
</div>
<div>Announcements:</div>
{{#announcement}}
    <div>
        <span>{{id}}</span>
        <i>{{price}}</i>
        <b>{{views}}</b>
        <i>{{sneaker.getCorporation}}</i>
        <i>{{sneaker.getModel}}</i>
        <i>{{sneaker.getColor}}</i>
    </div>
{{/announcement}}
</body>
</html>